# ignore clearcase unwanted files from the root level
*.updt
*.dat
.git/

# ignore clearcase files
.dat
.updt 

# ignore directories from clearcase views 
example1/
example2/
example3/

# exclude files under osutils/osutils/src/ except directory linux-config/
example/prj/README
example/prj/file.builder
example/src/file.prebuilder
testing/scm/file
another_directory/junk/Defaults

# exclude everything under osutils/osutils/src/ except directory linux-config/
example/dir1/src/
example/dir2/tils
example/dir3/clonesetup
example/dir4/crash/
example/dir5/vmf/
