# ignore clearcase unwanted files from the root level
*.updt
*.dat
.git/

# ignore clearcase files
.dat
.updt 

#!osutils/src**/**
#linux-config

# ignore directories from clearcase views 
builder/
configspecs/
delivery/
linux-x86_64/
lost+found/
mpras-x86/
scm/
vobconfig/

# exclude files under osutils/osutils/src/ except directory linux-config/
osutils/src/README
osutils/src/Makefile.builder
osutils/src/Makefile.prebuilder
osutils/src/Makefile
osutils/src/Defaults

# exclude everything under osutils/osutils/src/ except directory linux-config/
osutils/src/Archive
osutils/src/biosutils
osutils/src/clonesetup
osutils/src/crash/
osutils/src/cscope/
osutils/src/dell-megaraid_sas/
osutils/src/diskscan/
osutils/src/diskutils/
osutils/src/diskwipe/
osutils/src/dkms/
osutils/src/dmidecode/
osutils/src/dswap/
osutils/src/dumpmod/
osutils/src/e1000/
osutils/src/e1000e/
osutils/src/emcutils/
osutils/src/expressdx/
osutils/src/fit/
osutils/src/hbacheck/
osutils/src/hifndb/
osutils/src/igb/
osutils/src/intel-megaraid_sas/
osutils/src/iocnt/
osutils/src/iotrace/
osutils/src/ippzlib/
osutils/src/ixgbe/
osutils/src/ixgbevf/
osutils/src/kernel-build/
osutils/src/Knowledge/
osutils/src/libeLZS/
osutils/src/linkcheck/
osutils/src/linuxrdac/
osutils/src/lldp/
osutils/src/lscan/
osutils/src/lsi-hba-cfg/
osutils/src/lsi-hba-cfg-t3/
osutils/src/lsi-hba-fw/
osutils/src/lsiutil/
osutils/src/mbr/
osutils/src/mgmlogger/
osutils/src/mpt2_recover/
osutils/src/mptcheck/
osutils/src/mptstm/
osutils/src/multipath/
osutils/src/netxtreme2/
osutils/src/ntp/
osutils/src/osefit/
osutils/src/osnetinstall-config/
osutils/src/ostemplate/
osutils/src/osutils/
osutils/src/panicnmi/
osutils/src/pcicheck/
osutils/src/pcitune/
osutils/src/pfd/
osutils/src/pkgadmin/
osutils/src/pme/
osutils/src/provision/
osutils/src/qla2xxx/
osutils/src/qla2xxx-BAR/
osutils/src/qla-hba-cfg/
osutils/src/qlogic-firmware/
osutils/src/RAID_APPS/
osutils/src/ramdisk/
osutils/src/rdesktop/
osutils/src/ringlog_dump/
osutils/src/ringlogging/
osutils/src/security/
osutils/src/shed/
osutils/src/SLES-DOMU/
osutils/src/SLES-DVD/
osutils/src/SLES-OSNETINSTALL/
osutils/src/swapspace/
osutils/src/tdcitadel/
osutils/src/tdcloud/
osutils/src/tdsched/
osutils/src/testutils/
osutils/src/ttcp/
osutils/src/turbostat/
osutils/src/vmf/
